$fontSize: 14px;
$lineHeight: 24px;
$color: #383838;
$background: #000;
$borderRadius: 4px;

$colorList: (
  default: #d4d4d4,
  success: #51a351,
  error: #bd362f,
  info: #2f96b4,
  warning: #f89406
);
